<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="index.html">
            <i class="fas fa-paw"></i>
            <span>PetLover</span>
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="marketplace.html">
                        <i class="fas fa-store"></i>
                        <span>Tienda</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-paw"></i>
                        <span>Mascotas</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="fas fa-dog"></i> Perros</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-cat"></i> Gatos</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-rabbit"></i> Conejos</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-turtle"></i> Tortugas</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-dove"></i> Loros</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">
                        <i class="fas fa-envelope"></i>
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>

            <!-- Right Side Actions -->
            <div class="navbar-actions">
                <!-- Cart -->
                <a href="cart.html" class="cart-link">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count">0</span>
                </a>

                <!-- User Menu -->
                <div class="user-menu">
                    <a href="login.html" class="btn btn-outline">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Iniciar Sesión</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav> 